<div class="body-container">
    <div class="dashboard-container">
        <h1>City Transportation</h1>

        <div class="menu-dashboard">
            <ul>
                <li>
                    <a class="waves-effect waves-light btn">News</a>
                </li>
                <li>
                    <a class="waves-effect waves-light btn">Vacancy</a>
                </li>
                <li>
                    <a class="waves-effect waves-light btn">About</a>
                </li>
                <li>
                    <a class="waves-effect waves-light btn">Sign In</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="content-dashboard">
<!--        {{{ body }}}-->
        <div class="news-box">
            <ul>
                <li>
                    <h3>
                        New Buses
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, reiciendis!
                    </p>
<!--                    <a class="waves-effect waves-light btn">Reply</a>-->
                </li>
            </ul>
        </div>
    </div>
</div>


