<form action="/edit" method="post">
    <h3>Create Record</h3>

    <div class="inputs">
        <div class="input-field col s12">
            <select name="gender">
                <option value="Man">Man</option>
                <option value="Woman">Woman</option>
            </select>
            <label>Gender</label>
        </div>
        <div class="input-field">
            <input type="text" name="name">
            <label>Name</label>
        </div>
        <div class="input-field">
            <input type="text" name="surname">
            <label>Surname</label>
        </div>
        <div class="input-field">
            <input type="text" name="patronym">
            <label>Patronymic</label>
        </div>
    </div>

    <div class="inputs">
        <div class="input-field">
            <input type="number" name="reg_number">
            <label>Reg. Number</label>
        </div>
        <div class="input-field">
            <input type="tel" name="phone">
            <label>Phone</label>
        </div>
        <div class="input-field">
            <input type="text" class="datepicker" name="birthday">
            <label>Birthday</label>
        </div>
        <div class="input-field">
            <input type="text" name="address">
            <label>Address</label>
        </div>
    </div>


    <button type="submit" class="btn waves-effect waves-light">Update
        <i class="material-icons right">publish</i>
    </button>
</form>
