{{#if news.length}}
    <ul>
        {{#each news}}
                <li>
                    <h3>
                        {{title_news}}
                    </h3>
                    <div class="content-about">
                        <p>
                            {{content_news}}
                        </p>
                    </div>
                </li>
        {{/each}}
    </ul>
{{else}}
    <p>Something is coming</p>
{{/if}}
