{{#if news.length}}
    <ul>
        {{#each news}}
                <li>
                    <h3>
                        {{title_news}}
                    </h3>
                    <p>
                        {{content_news}}
                    </p>
                </li>
        {{/each}}
    </ul>
{{else}}
    <p>Something is coming</p>
{{/if}}
