body {
    color: #38454b;
    display: flex;
}

.container {
    margin: 0 0 60px 312px;
    width: 1066px;
}

.logo {
    margin: 20px;
    height: 80px;
}

.logo-box {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 24px;
}

.logo-box a {
    font-size: 68px;
}

.logo-box img {
    margin: 0;
}

.brand-logo {
    margin: 0 20px;
}

.nav-head li a {
    padding: 0 28px;
}

.nav-head a {
    width: auto;
}

.nav-head {
    height: 100%;
    width: auto;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
}

.nav-wrapper ul {
    display: flex;
    flex-direction: column;
}

.thead-table {
    background-image: linear-gradient(96deg, darkslateblue, darkcyan);
    background-attachment: fixed;
    background-size: contain;
    opacity: 80%;
    color: white;
}

.thead-table th {
    border-radius: 0;
}

.thead-table th:first-child {
    border-radius: 2px 0 0 2px;
}

.thead-table th:last-child {
    border-radius: 0 2px 2px 0
}

.actions {
    display: flex;
    justify-content: space-between;
}

.dropdown-content button {
    margin: 5px 10px;
}

.dropdown-content li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.table_menu {
    float: right;
}

table .btn {
    width: 84px;
}

.inputs {
    display: flex;
}

.input-field {
    margin-right: 40px;
}

.delete-btn:hover {
    color: lightcoral;
}

.header-color {
    background-image: linear-gradient(6deg, darkcyan, darkslateblue);
}

.btn-icon {
    width: 50px;
}
