body {
    color: #37474f;
    display: flex;
}

.container {
    margin: 0 0 60px 312px;
    width: 1066px;
}

nav ul li, nav ul li a {
    height: 60px;
}

.logo {
    margin: 20px;
    height: 80px;
}


.logo-box {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 24px;
}

.logo-box a {
    font-size: 68px;
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
}

.logo-box img {
    margin: 0;
}

.brand-logo {
    margin: 0 20px;
}

.nav-head li a {
    padding: 0 28px;
}

.nav-head a {
    width: auto;
}

.nav-head {
    height: 100%;
    width: auto;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
}

.nav-wrapper ul {
    display: flex;
    flex-direction: column;
}

.thead-table {
    background-attachment: fixed;
    background-size: contain;
    color: white;
}

.thead-table th {
    border-radius: 0;
}

.thead-table th:first-child {
    border-radius: 2px 0 0 2px;
}

.thead-table th:last-child {
    border-radius: 0 2px 2px 0
}

.actions {
    display: flex;
    justify-content: space-between;
}

.dropdown-content button {
    margin: 5px 10px;
}

.dropdown-content li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.table_menu {
    float: right;
}

table .btn {
    width: 84px;
}

.inputs {
    display: flex;
}

.input-field {
    margin-right: 40px;
}

.delete-btn:hover {
    color: red;
}

ul li .edit-btn i:hover {
    color: #F2AA4CFF;
}

.btns {
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.header-color, .datepicker-date-display, .card, .thead-table{
    background-image: linear-gradient(#37474f, #37474f);
}

body .btn {
    background-color: #F2AA4CFF;
    color: #37474f;
}

body .btn:hover {
    background-color: #37474f;
    color: #F2AA4CFF;
}

body .btn:focus {
    background-color: #37474f;
    color: #F2AA4CFF;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #37474f;
}

.btn-icon {
    width: 50px;
}

.routs-list-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 1000px;
}



.card {
    width: 220px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.card .card-title{
    font-size: 120px;
    height: 120px;
    padding: 30px;
}

.card-content {
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}


ol {
    padding-left: 34px;
    width: 200px;
    margin-top: 0;
}


.card-action {
    display: flex;
    justify-content: space-between;
}

.card-action .delete-btn {
    padding-left: 14px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #37474f;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating).delete-btn {
    color: red;
}

.collection-item {
    display: flex;
    justify-content: space-between;
}

.delete-station {
    color: #37474f;
}

.delete-station:hover {
    color: red;
}

.inputs .input-field input[type=text]:focus {
    border-bottom: 1px solid #37474f;
    box-shadow: 0 1px 0 0 #37474f;
}

.inputs .input-field input[type=text]:focus + label {
    color: #37474f;
}

.inputs .input-field input[type=tel]:focus + label {
    color: #37474f;
}

.inputs .input-field input[type=number]:focus {
    border-bottom: 1px solid #37474f;
    box-shadow: 0 1px 0 0 #37474f;
}

.inputs .input-field input[type=tel]:focus {
    border-bottom: 1px solid #37474f;
    box-shadow: 0 1px 0 0 #37474f;
}

.inputs .input-field input[type=password]:focus {
    border-bottom: 1px solid #37474f;
    box-shadow: 0 1px 0 0 #37474f;
}

.inputs .input-field input[type=number]:focus + label {
    color: #37474f;
}

.inputs .input-field input[type=password]:focus + label {
    color: #37474f;
}

nav ul li.active {
    background-color: rgba(0,0,0,0.2);
}

.card-rout {
    display: flex;
}

.card-rout-elem {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
}

h3 {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    font-size: 46px;
}

/*dashboard*/

.content-box h3 {
    padding: 0 16px;
}

.body-container{
    background-image: url("img/abs-back.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 100vh;*/
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.dashboard-container h1{
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    font-size: 74px;
    text-align: center;
}

.dashboard-container {
    /*padding: 0 200px;*/
    width: 100vw;
    /*height: 24vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    background-color: white;
}

.menu-dashboard {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-dashboard ul {
    display: flex;
}
.menu-dashboard li {
    margin: 0 18px 6px 18px;
}

.content-dashboard {
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.content-box {
    background-color: rgba(255,255,255,0.8);
    width: 920px;
    padding: 12px 40px 0 40px;
    margin: 20px;
}

.content-box ul li a {
    float: right;
}

.content-box ul li {
    background-color: white;
    padding: 2px 10px 6px 10px;
    /*height: 190px;*/
}

.dashboard-container img {
    color: #37474f;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #37474f;
    box-shadow: 0 1px 0 0 #37474f;
}

textarea.materialize-textarea:not([readonly]){
    width: 600px;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #37474f;
}

.news-list-adm a{
    margin-right: 20px;
}

.news-list-adm a:nth-last-child(2):hover {
    background-color: red;
}

.content-box li {
    margin-bottom: 10px;
}

.content-apply-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.content-apply-btn p {
    width: 620px;
}

.content-apply-btn a {
    height: 60px;
    display: flex;
    align-items: center;
}

.modal-form {
    padding: 0 40px;
}


/*.menu-dashboard a {*/
/*    color: #37474f;*/
/*    padding: 8px 18px;*/
/*    background-color: #F2AA4CFF;*/
/*    border-radius: 1px;*/
/*}*/

footer {
    height: 16vh;
    width: 100%;
    background-color: #37474f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contacts li {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

footer .contacts li a {
    margin: 0 10px;
    color: #F2AA4CFF;
}

footer .contacts ul {
    display: flex;
}

.content-about {
    padding: 0 20px;
}

.content-box .inputs {
    margin: 0 20px;
}

.content-box button {
    margin: 0 20px 10px 20px;
    float: right;
}

.form-reg {
    height: 320px;
}

.modal-content {
    margin: 0 36px;
}

.modal-footer {
    margin: 0 20px 12px 0;
}
